.map-node-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}

.map-node-container:not(.locked):hover {
  transform: scale(1.1);
}

.map-node-container.mastered #cloud-base {
  animation: cloud-float 3s ease-in-out infinite alternate;
}

.map-node-container.mastered #face-mastered {
  animation: cloud-float 3s ease-in-out infinite alternate;
}

.map-node-container.mastered #mastery-star {
  animation: star-spin 6s linear infinite;
  transform-origin: 0px 0px;
}

@keyframes cloud-float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-3px); }
}

@keyframes star-spin {
  0% { transform: translate(70px, 20px) rotate(0deg); }
  100% { transform: translate(70px, 20px) rotate(360deg); }
}
